body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.smallProfilePic {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.mainProfilePic {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

    padding: 5px;
}


span.large_icon {
    font-size: 48px;
    font-variation-settings: 
    'FILL' 1,
    'OPSZ' 48;

    padding-right: 10px;
}


.container {
    display: grid;
    gap: 4px;
    /* Big Shapes */
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    grid-template-columns: 1fr 4fr;
}

header {
    grid-area: header;
    display: grid;
}

#topHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    padding: 15px;
}

.profile_pic_name {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    flex: 1;
}

#searchBar {
    height: 1.5rem;
    background-color: #E2E8F0;
    border: none;
    border-radius: 10px;
    flex: 1;
    align-content: flex-start;
}

#sidebar {
    background-color: #3f99c2;
    align-items: center;
    grid-area: sidebar;
    padding: 10px;
    height: 100vh;
    color: white;
    display: grid;
    align-content: start;
    margin: 0;
}

#sidebar h1{
    color: white;
    margin: 0;
}

#sidebar div {
    padding: 7px;
    font-size: 20px;
    font-weight: 500;
    align-self: center;
}

#title h1 {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   font-size: 30px;
}

#menu {
    display: grid;
    margin-bottom: 50px;
}

span.menu_icons {
    padding-right: 20px;
}

#menu div {
    display: flex;
    align-items: center;
}

#settingMenu {
    font-size: 20px;
    font-weight: 500;
}

#settingMenu div {
    display: flex;
    align-items: center;
}

#main-content {
    grid-area: main-content;
    background-color: #E2E8F0;
}